.landing{
    position: relative;
    height: 80vh;
    margin-bottom: 12rem;
} 
.card{
    position: absolute;
    bottom: -40%;
    left: 50%;
    transform: translate(-50% , -50%);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
    text-align: center;
}
@media (max-width:1025px){
    .card{
        width: 30rem !important;
        bottom: -40%;
    }
}
@media (max-width:768px){
    .card{
        width: 20rem !important;
        bottom: -55%;
    }
}
@media (max-width:481px){
    .card{
        width: 15rem !important;
        bottom: -80%;
    }
}